<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>TheFilter</filter-name>
  	<display-name>TheFilter</display-name>
  	<description></description>
  	<filter-class>com.hand.filter.TheFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>TheFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<display-name>AddServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindServlet</servlet-name>
  	<display-name>FindServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.FindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindServlet</servlet-name>
  	<url-pattern>/FindServlet</url-pattern>
  </servlet-mapping>
</web-app>
