*{
    margin: 0px;
    padding: 0px;
}
body{

}
a{
	text-decoration: none;
}
.menu {
    border: solid 1px lavender;
    width: 100px;
    height: 500px;
    float: left;
}
.cus{
    float: left;
    display: inline;
    width:auto;
}
.menu li{
    margin-top:5px;
    border: solid 1px #eeeeee;
}
.menu li:HOVER{
    background-color: #eeeeee;
}
.login_bj{
    background-image: url("../img/bj.jpg");
    background-repeat: repeat;
}
#login{
    background-color: #23527c;
    color: white;
    padding: 10px;
}